Source: tuquito-software-manager
Section: admin
Priority: optional
Maintainer: Mario Colque <mario@tuquito.org.ar>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: tuquito-software-manager
Architecture: all
Depends: python (>= 2.4), python (<< 3), python-gtk2, python-aptdaemon, python-webkit, python-imaging, libjs-jquery, python-pkg-resources, tuquito-apps-icons
Description: Tuquito Software Manager
 A software manager to easily install new applications.
